<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>LASA 'n Found - About</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body class="about">
    <div class="page-container">
    	<h1>Lost and Found, Reimagined!</h1>
      <div class="toolbar">
  	   <a class="tool-link" href="/">Home</a> |
  	   <a class="tool-link" href="/new">New Item</a>
  	  </div>
      <h3>What is LASA 'n Found?</h3>
      <p>LASA 'n Found is a crowdsourced solution to LASA's lost and found problem. You can either browse for a lost item, or submit a new one to our database.</p>
      <h3>How it Works</h3>
      <p>Our homepage shows   the 10 most recently submitted items in our database, to look further back in time, our archive function lets you look through all current Lost 'n Found items. An item in the database expires after 2 weeks, meaning if it isn't claimed, the item is deleted. To add an item that you have found, please go to the <b><a class="nostyle-link" href="/new">Report a New Lost Item</a></b> page. To claim an item, make sure it is actually yours, complete a Captcha, and hit 'Claim Me!'.</p>
    </div>
  </body>
</html>
