<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>LASA 'n Found - ERROR</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="page-container">
      <div id="home-container">
        <h1>Error: {{error}}</h1>
        <div class="toolbar">
          <a class="tool-link" href="/">Home</a> |
          <a class="tool-link" href="/about">About</a> |
          <a class="tool-link" href="/new">New Item</a>
    	  </div>
      </div>
    </div>
  </body>
</html>