<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>LASA 'n Found - Archive</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <div class="page-container">
      <h1>LASA 'n Found Archive</h1>
      <div class="toolbar">
        <a class="tool-link" href="/">Home</a> |
  	    <a class="tool-link" href="/about">About</a> |
  	    <a class="tool-link" href="/new">New Item</a>
  	  </div>
      <div class="item">
        <div class="error">{{error}}</div>
  	    <div class="item-title"><h3>{{item.title}}<h3></div>
  	    <div class="item-date-perm">Submitted {{item.created.date().strftime("%A %B %d, %Y")}} {{item.created.time().strftime("%z")}} at {{item.created.time().strftime("%X")}}</div><br>
        {% if item.location %}
          <div class="item-location-perm">Currently in: {{item.location}}</div><br>
        {% else %}
          <div class="item-location-perm">No Location Provided</div>
        {% endif %}
  	    <div class="item-description-perm">{{item.description}}</div><br>
        {% if item.picture %}
          <div class="picture"><a href="/img/{{item.key().id()}}" target="_blank"><img class="pic-get pic" src='/img/{{item.key().id()}}'></img></a></div><br>
        {% endif %}
        <br>
        <form class="claim-form" method="post">
          <div class="g-recaptcha" data-sitekey="6LdVQTQUAAAAALtj9Jq1fTVLxU-SK3Ib1L_1Sm0H"></div><br>
          <input class="claim" type="submit" value="Claim Me!">
        </form>
      </div>
    </div>
  </body>
</html>
