<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>LASA 'n Found - New Item</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Report a New Lost Item</h1>
    <div class="toolbar">
     <a class="tool-link" href="/">Home</a> |
     <a class="tool-link" href="/about">About</a>
    </div>
    <!-- <form action="handle_upload" method="post" enctype="multipart/form-data"> -->
    <!--<form action="{{upload_url}}" method="post" enctype="multipart/form-data">-->
    <form method="post">
      <div class="top">
        <span class="bot">Title</span><span class="error">{{error}}</span><br><br>
        <input type="text" name="title">
      </div>
      <div class="top">
        <span class="bot">Description</span>
        <p>(optional) Be brief, but provide any useful details</p>
        <input type="text" name="description" value="{{descData}}"></input>
      </div>
      <div class="top">
        <div class="bot">Location</div>
        <p>i.e "front office" or "room 222"</p>
        <input type="text" name="location" value="{{locData}}"></input>
      </div>
      <div class="top">
        <div class="bot">Picture</div>
        <p>Add relevent picture of the item</p>
        <input name="file" type="file"/>
      </div><br><br>
      <input class="submit" type="submit">
    </form>
  </body>
</html>
