<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>LASA 'n Found - New Item</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Report a New Lost Item</h1>
    <div class="toolbar">
     <a class="tool-link" href="/">Home</a> |
     <a class="tool-link" href="/new">About</a>
    </div>
    <div class="outer">
      <div class="inner">
        <form method="post">
          <label>
            <div class="bot">Title</div>
            <input type="text" name="title">
          </label>
          <label>
            <div class="top"><div class="bot">Description</div>Be brief, but provide any useful details</div>
            <input type="text" name="description"></input>
          </label>
          <label>
            <div class="top"><div class="bot">Location</div>i.e "front office" or "room 222"</div>
            <input type="text" name="location"></input>
          </label>
          <div>
              I need to implement a way to upload a picture
          </div>
          <br>
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>
